@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/coffee-2');

*{
    margin:0;
    padding: 0;
    box-sizing:none;
    outline: none;
    border:0;
    text-decoration:none;
    text-transform:capitalize;
    
   
}
body{
    background-color: black;
   z-index: 10000;
}


.header{
    background-color: black;
    color: rgba(40, 12, 2, 0.857);
    padding-top: 10vh;
    display: block;
    position: relative;
    z-index: 1;

}

.navbar{
    background-color: rgb(0, 0, 0);
    display:inline-flex;
    width: 100%;
    border-bottom: 5px solid rgb(34, 34, 34);
}
.header .navbar a{
    color:gray;
    align-items:center;
    justify-content:center;
    position: relative;
    text-transform: uppercase;
    font-size:1rem;
    border-bottom:0.1rem solid transparent;
    bottom: 50px;
    margin-left: 150px;
    left:45vh;
}

.header .navbar a:hover{
    color:gold;
    transition: 0.4s ease;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid gold;

}
.order{
    width: 160px; 
    height: 40px; 
     background-color:gold;
     color:gray;
    position:absolute;
    bottom:80px;
    border-radius: 70px;
    text-align: center;
    bottom: 35px;
    padding-top: 20px;
    left: 160vh;
    transition: all 1s;
    
}
.order:hover{
    color:gold;
    background-color:rgb(255, 255, 255);
    transition: 1s ease;
}

.logo{
    height: 50px;
    color:rgb(255, 255, 255);
    font-size: large;
    position: absolute;
    width:10px;
    bottom: 30px;
    left:25vh;
}
.logo:hover{
    color:gold;
    transition: 0.3s ease-in-out;
}
.gallery{
    position:absolute;
    background-color: white;
}
.home{
    scroll-behavior: smooth;
    background-color: black;
    width: 100%;
    min-height: 95vh;
    margin-top:-7.6rem;
    transition: 0.8s ease-in-out;
    display:flex;
    border-bottom: 5px solid rgb(34, 34, 34);
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
}
.coffee{
    margin-left: 80vh;
    margin-top: 30vh;
    width: 50vh;
    height: 50vh;
    position: relative;
}
.smoke{
    width: 70vh;
    height: 70vh;
    margin-left: -59vh;
    margin-bottom: 50vh;
    position: relative;
}
.h2{
    color: rgb(75, 36, 3);
    font-family: 'Coffee', sans-serif;
    width: 250px;
    font-size: 250px;
    margin-left: 30vh;
    display: flex;
    margin-bottom: 45vh;
    transition: 0.5s ease-in;
    text-transform:uppercase;
    
}
.h3{
    color:gold;
    font-family: 'Coffee', sans-serif;
    width: 250px;
    font-size: 80px;
    margin-left: 66vh;
    display: flex;
    position: absolute;
    margin-bottom: 35vh;
    transition: 0.5s ease-in;
    text-transform:uppercase;
}
.buy{
    width: 190px;
    height: 50px;
    text-align: center;
    font-size: 27px;
    padding-top: 18px;
    background-color: rgb(75, 36, 3);
    color:white;
    border-radius: 50px;
    margin-top: 30vh;
    margin-left: -165vh;
    transition:all 1s;
}
.buy:hover{
    background-color: gold;
    transition: 0.5s ease-in-out;
}

.gallery{
    color:#ffffff;
    background-color: black;
    font-family: 'Coffee', sans-serif;
    margin-top: 10vh;
    margin-left: 92vh;
    position: absolute;
    font-size: 55px;
    width: 30%;
    flex-direction:row;
    display: grid;
}
.box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-container img{
    float:left;
    height: 30vh;
    position: relative;
    padding: 45px;
    width: 35vh;
   right: 55vh;
   margin-top: 120px;

}
.box-container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box-container2 img{
    float:left;
    height: 30vh;
    position: relative;
    padding: 55px;
    width: 35vh;
   right: 55vh;
   margin-top: 10px;


}
.box-container3 img{
    float:left;
    height: 25vh;
    position: relative;
    padding: 55px;
    width: 35vh;
   left: -11vh;
   margin-top: -50px;


}
