@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing:none;
    outline: none;
    border:0;
    text-decoration:none;
    text-transform:capitalize;
    
   
}
body{
    background-color: black;
   z-index: 10000;
}


.header{
    background-color: black;
    color: rgba(40, 12, 2, 0.857);
    padding-top: 10vh;
    display: block;
    position: relative;
    z-index: 1;

}

.navbar{
    background-color: rgb(0, 0, 0);
    display:inline-flex;
    width: 100%;
    border-bottom: 5px solid rgb(34, 34, 34);
}
.header .navbar a{
    color:gray;
    align-items:center;
    justify-content:center;
    position: relative;
    text-transform: uppercase;
    font-size:1rem;
    border-bottom:0.1rem solid transparent;
    bottom: 50px;
    margin-left: 150px;
    left:45vh;
}

.header .navbar a:hover{
    color:gold;
    transition: 0.4s ease;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid gold;

}
.order{
    width: 160px; 
    height: 40px; 
     background-color:gold;
     color:gray;
    position:absolute;
    bottom:80px;
    border-radius: 70px;
    text-align: center;
    bottom: 30px;
    padding-top: 20px;
    left: 160vh;
    transition: all 1s;
    
}
.order:hover{
    color:gold;
    background-color:rgb(255, 255, 255);
    transition: 1s ease;
}

.logo{
    height: 50px;
    color:rgb(255, 255, 255);
    font-size: large;
    position: absolute;
    width:10px;
    bottom: 30px;
    left:25vh;
}
.logo:hover{
    color:gold;
    transition: 0.3s ease-in-out;
}
.gallery{
    position:absolute;
    background-color: white;
}
.home{
    scroll-behavior: smooth;
    background:url(/videos&photos/close-up-view-dark-fresh-roasted-coffee-beans-coffee-beans-background.jpg) no-repeat;
    width: 100%;
    min-height: 92vh;
    margin-top:-7.6rem;
    transition: 0.8s ease-in-out;
    display:flex;
    border-bottom: 5px solid rgb(34, 34, 34);
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.h2{
    background-color: transparent;
    color:rgb(255, 217, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    font-size: 80px;
    margin-left: 350px;
    font-weight: 1000;
    transition: 0.5s ease-in;
    display: inline-block;
    text-transform: uppercase;
    
}
.gallery{
    color:#ffffff;
    background-color: black;
    font-family:monospace;
    margin-top: 10vh;
    margin-left: 95vh;
    position: relative;
    font-size: 25px;
    display:grid;
    object-fit: cover;
    
}

